@media print{
    main{ 
        box-shadow: none;
        border-radius: none;
    }
    footer{ 
        display: none;
    }

}
@media screen and (max-width: 600px) {
    .um{
        columns: 1;
        margin: 2px auto;
    }
    p {
        text-align: justify;
    }
    nav {
        display: none;
    }
}